<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/storagesStyles.css">
    <title>Storages</title>
</head>
<body>

<div class="container">
    <div class="page-name">
        <span th:text="${#dates.format(#dates.createNow(), 'dd-MM-yyyy')}" class="text-sm-start"></span>
        <h2 style="color: rgb(80, 78, 105);" class="text-center">
            Storages
        </h2>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered" style="font-size: 16px;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Action
                    <a class="btn btn-primary btn-sm float-end mt-2" id="sort-button" data-bs-toggle="modal"
                       data-bs-target="#anotherModal">Sort</a>
                    <a th:href="@{'/storages/new'}" class="btn btn-primary btn-sm float-end mt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aStorage : ${storages}">
                <th scope="row" th:text="${aStorage.getId()}"></th>
                <td th:text="${aStorage.getName()}"></td>
                <td th:text="${aStorage.getPhoneNumber()}"></td>
                <td>
                    <div class="button-container">
                        <a th:href="@{'/storages/' + ${aStorage.getId()} + '/edit'}" class="btn btn-primary btn-sm">Change</a>
                        <a class="btn btn-primary btn-sm" id="view-button" data-bs-toggle="modal"
                           data-bs-target="#exampleModal" th:attr="item-id=${aStorage.getId()}"
                           onclick="myFunction(this)">View equipment</a>
                        <form action="#" th:method="DELETE" th:action="@{/storages/{id}(id=${aStorage.getId()})}">
                            <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Equipment type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Your modal body content goes here -->
                <form method="GET" id="viewEquipForm" class="d-flex flex-column gap-3 container mx-10">
                    <div class="form-group">
                        <label for="dateToFilter"></label>
                        <input type="text" id="dateToFilter" name="date" class="form-control" placeholder="Enter Date">
                        <label for="equipmentName"></label>
                        <input type="text" id="equipmentName" name="name" class="form-control" placeholder="Enter Name">
                    </div>
                    <button type="submit" class="btn btn-primary mx-0">View</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for sorting-->
<div class="modal fade" id="anotherModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="anotherModalLabel">Sort storages with date</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Your modal body content goes here -->
                <form method="GET" th:action="@{/storages/sort}" class="d-flex flex-column gap-3 container mx-10">
                    <div class="form-group">
                        <label for="date"></label>
                        <input type="text" id="date" name="date" class="form-control" placeholder="Enter Date">
                    </div>
                    <button type="submit" class="btn btn-primary mx-0">View</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    function myFunction(button) {
        document.getElementById("viewEquipForm").action =
            "storages/" + button.getAttribute("item-id").toString() + "/equipment";
    }
</script>
</body>
</html>