<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/storagesStyles.css">
    <title>Waybills</title>
</head>
<body>


<div class="container">
    <div class="page-name">
        <h2 style="color: rgb(80, 78, 105);"> Home</h2>
    </div>
    <div class="d-flex justify-content-center">
        <a th:href="@{'/storages'}" class="btn btn-primary btn-sm mx-2">Storages</a>
        <a th:href="@{'/records'}" class="btn btn-primary btn-sm mx-2">Equipment
            records</a>
        <a class="btn btn-primary btn-sm mx-2" id="waybill-button" data-bs-toggle="modal"
           data-bs-target="#exampleModal">Waybill and Equipment</a>
        <a th:href="@{'/equipment'}" class="btn btn-primary btn-sm mx-2">Equipment</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Equipment type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Your modal body content goes here -->
                <form method="GET" th:action="@{/waybills}" id="viewEquipForm" class="d-flex flex-column gap-3 container mx-10">
                    <div class="form-group">
                        <label for="date"></label>
                        <input type="text" id="date" name="date" class="form-control" placeholder="Enter Date">
                        <label for="name"></label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name">
                    </div>
                    <button type="submit" class="btn btn-primary mx-0">View</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>
</html>