.page-name {
    text-align: center; /* Горизонтальное выравнивание по центру */
    display: flex;
    flex-direction: column;
}
.button-container {
    display: flex;
    justify-content: left; /* Равномерно распределяем кнопки по контейнеру */
}
.btn-primary {
    margin-right: 10px; /* Устанавливает правый отступ между кнопками */
}

.bi-exclamation-triangle-fill {
    margin-right: 5px;
}
